<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .flex-container {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="flex-container">
      <h1><a href="/">Main Home Page</a></h1>
      <h1><a href="/first_app/">App Home</a></h1>
      <h1><a href="/first_app/about/">About</a></h1>
      <h1><a href="/first_app/contact/">Contact</a></h1>
    </div>

    <br />
    <h1>Hello from first_app about page</h1>
  </body>
</html>
