{% extends 'base.html'%}

<!-- content starts -->
{% block body %}

<!-- importing crispy -->
{% load crispy_forms_tags %}

<div class="w-50 mx-auto">
  <h1 class="text-center">Password Change Page</h1>

  <form method="post" novalidate>
    {% csrf_token %}

    <!-- user log in errors text showing -->
    {% if form.non_field_errors %}

    <!-- to view all errors text showing -->
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white rounded-3 p-2">{{er}}</p>
    {% endfor %}

    <!-- end if -->
    {% endif %}

    <!-- django form -->
    <!-- {{form | crispy}} -->

    <!-- accessing form input fields by loop -->
    {% for fm in form %}

    <!-- to show the label texts -->
    {{fm.label_tag}}
    <!-- to show the input fields -->
    {{fm}}
    <!-- to handle the error messages -->
    <p class="text-danger">{{fm.errors | striptags}}</p>

    <!-- end of for loop -->
    {% endfor %}

    <br />
    <button class="btn btn-warning" type="submit">Change Password</button>
</div>

{% endblock %}
