{% extends 'base.html'%}

<!-- content starts -->
{% block body %}

<!-- user data starts -->
<!-- importing crispy -->
{% load crispy_forms_tags %}

<div class="w-50 mx-auto">
  <h3 class="mb-5">Hello {{user}} from your profile page</h3>

  {% if messages %}

  <!-- to show all the messages -->
  {% for m in messages %}
  <p class="bg-success p-3 rounded-3 text-white">{{m}}</p>
  {% endfor %}

  <!-- end if block -->
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}

    <!-- user log in errors text showing -->
    {% if form.non_field_errors %}

    <!-- to view all errors text showing -->
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white rounded-3 p-2">{{er}}</p>
    {% endfor %}

    <!-- end if -->
    {% endif %}

    <!-- django form -->
    <!-- {{form | crispy}} -->

    <!-- accessing form input fields by loop -->
    {% for fm in form %}

    <!-- to show the label texts -->
    {{fm.label_tag}}
    <!-- to show the input fields -->
    {{fm}}
    <!-- to handle the error messages -->
    {{fm.errors | striptags}}

    <!-- end of for loop -->
    {% endfor %}

    <br />
    <button class="btn btn-primary" type="submit">Change Data</button>
  </form>
  <!-- user data ends -->

  <div class="d-flex mt-5">
    <a class="btn btn-info m-2" href="{% url 'pass_change' %}"
      >Change your Password</a
    >
    <a class="btn btn-warning m-2" href="{% url 'pass_change_2' %}"
      >Change Password without old password</a
    >
  </div>
</div>

{% endblock %}

